{% extends "base.html" %}

{% block body %}
<div class="section" id="ticker">
    <h2>Ticker</h2>
    <div class="hide">
        {% include "ticker.html" %}
    </div>
</div>
<hr width="80%">

<div class="section" id="orderbook">
    <h2>Order Book</h2>
    <div class="hide">
        {% include "orderbook.html" %}
    </div>
</div>
<hr width="80%">

<div class="section" id="strategies">
    <h2>Strategies</h2>
    <div class="hide">
        {% include "strategies.html" %}
    </div>
</div>
<hr width="80%">

<div class="section" id="accounts">
    <h2>Accounts</h2>
    <div class="hide">
        {% include "accounts.html" %}
    </div>
</div>
<hr width="80%">

<div class="section" id="connections">
    <h2>Connections</h2>
    <div class="hide">
        {% include "connections.html" %}
    </div>
</div>


{% endblock %}

