language: python

os:
  - linux
  - osx
  
python:
  - "3.5"
  - "3.6"

install:
    - pip install -r requirements.txt
    # - pip install coveralls
    - pip install codecov

script: make test

after_success:
    - codecov --token 10cff21a-48fa-4326-9714-fd63aa7c785d
    # - coveralls

branches:
  only:
  - master

notifications:
  email: false
