<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>AlgoCoin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
<!-- styles -->
  <link href="/static/dashboard/css/style.css" rel="stylesheet">
<script src="/static/dashboard/js/jquery.min.js"></script>
<script src="/static/dashboard/js/new.js"></script>
  <!--link rel="shortcut icon" href="/static/img/logo_blk.png"-->
  <style type="text/css"></style>
</head>
<body>

<div class="header">
<h1>AlgoCoin</h1>
</div>

{% block body %}

{% endblock %}

<div class="contact">
    <h2>Contact</h2>
    <p>t.paine154@gmail.com<br>
    © 2015 TP. All rights reserved.
    </p>
</div>

</body>
</html>

