
{% block connections %}
<div class="subsection" id="connectivity">
    <h4>Coinbase</h4>
    <div class="connection" id="coinbase_connection" >
    <p class="up">up</p>
    </div>
    <br>

    <h4>HitBTC</h4>
    <div class="connection" id="hitbtc_connection" >
    <p class="down">down</p>
    </div>
    <br>
    
    <h4>Cryptsy</h4>
    <div class="connection" id="cryptsy_connection" >
    <p class="down">down</p>
    </div>
    <br>
    
    <h4>Bitfinex</h4>
    <div class="connection" id="bitfinex_connection" >
    <p class="down">down</p>
    </div>
    <br>
    
    <h4>Kraken</h4>
    <div class="connection" id="kraken_connection" >
    <p class="down">down</p>
    </div>
    <br>
    
    <h4>BTC-e</h4>
    <div class="connection" id="btce_connection" >
    <p class="down">down</p>
    </div>
    <br>
    
    <h4>LakeBTC</h4>
    <div class="connection" id="lakebtc_connection" >
    <p class="down">down</p>
    </div>
    <br>
    
    <h4>Bitstamp</h4>
    <div class="connection" id="bitstamp_connection" >
    <p class="down">down</p>
    </div>
    <br>

</div>
{% endblock %}

