{% extends "base.html" %}

{% block body %}
<div class="section" id="ticker">
    <h2>Ticker</h2>
    <div class="hide">
        {% block ticker %}
        {% endblock %}
    </div>
</div>
<hr width="80%">

<div class="section" id="orderbook">
    <h2>Order Book</h2>
    <div class="hide">
        {% block orderbook %}
        {% endblock %}
    </div>
</div>
<hr width="80%">

<div class="section" id="strategies">
    <h2>Strategies</h2>
    <div class="hide">
        {% block strategy %}
        {% endblock %}
    </div>
</div>
<hr width="80%">

<div class="section" id="accounts">
    <h2>Accounts</h2>
    <div class="hide">
        {% block accounts %}
        {% endblock %}
    </div>
</div>
<hr width="80%">

<div class="section" id="connections">
    <h2>Connections</h2>
        {% block conenctions %}
        {% endblock %}
    <div class="hide">
    </div>
</div>


{% endblock %}

