<!DOCTYPE html>
<html lang="en">
<head>
<title>Algo-Coin</title>
<script>
    window.CONNECTION_CONFIG={basepath: '{{basepath}}', wspath: '{{wspath}}'};
</script>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">

<link href='{{basepath + "static/css/font-awesome.min.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/vars.css"}}' rel="stylesheet">
<link href='{{basepath + "static/css/index.css"}}' rel="stylesheet">

</head>
<body>
</body>

<script type="text/javascript" src='{{basepath + "static/js/bundle.js"}}'></script>
</html>