@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
div.pspwidget input {
  padding: 6px 10px 6px 0px;
}

div.pspwidget button {
  text-transform: uppercase;
}

div.pspwidget select,
div.pspwidget ul {
  padding: 0px 10px 0px 0px;
}

div.pspwidget perspective-hypergrid {
  color: #eee;
  background-color: var(--dark-bg-color);
}

div.pspwidget perspective-hypergrid th {
  background-color: var(--dark-bg-color);
  background-color: var(--dark-bg-color);
}

div.pspwidget perspective-hypergrid td.hover {
    background-color: var(--highlight-darkred);
}

div.pspwidget perspective-hypergrid tr.hover {
    background-color: var(--dark-bg-color2);
}

div.pspwidget perspective-viewer:not([settings]) {
  z-index: 3;
}

div.pspwidget perspective-viewer #side_panel perspective-row .row_draggable {
  height: 26px;
  cursor: move;
}

div.pspwidget perspective-viewer:not([row-pivots='[]']) #side_panel #active_columns perspective-row .row_draggable {
  height: 52px;
}

div.pspwidget perspective-viewer:not([row-pivots='[]']) #side_panel #inactive_columns perspective-row .row_draggable {
  height: 26px;
}

div.pspwidget perspective-viewer.dragging #app #side_panel #inactive_columns perspective-row:hover .is_visible {
  opacity: 0;
}

div.pspwidget perspective-viewer.dragging #app #side_panel #active_columns perspective-row[drop-target] .row_draggable,
div.pspwidget perspective-viewer.dragging #app #side_panel .rrow ul {
  margin-top: 0px;
}

div.pspwidget perspective-viewer.dragging #app #top_panel .rrow > * {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  margin-top: 0px;
  margin-left: 0px;
}

div.pspwidget perspective-row:before {
  font-size: 10px;
  font-family: "Open Sans";
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row:before {
  margin-left: 48px;
  left: 48px;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .is_visible:before {
  font-family: "material icons";
  margin-top: 1px;
  margin-left: -8px;
  font-size: 16px;
  content: "\E834";
}

div.pspwidget perspective-viewer #app input,
div.pspwidget perspective-viewer #app select,
div.pspwidget perspective-viewer #app ul,
div.pspwidget perspective-viewer #app #filters {
  border-right: 0px;
  background: none;
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app #filters {
  padding-left: 0px;
}

div.pspwidget perspective-viewer #app perspective-row .string::before,
div.pspwidget perspective-viewer #app perspective-row .float::before,
div.pspwidget perspective-viewer #app perspective-row .integer::before,
div.pspwidget perspective-viewer #app perspective-row .date::before {
  font-family: "Roboto Mono", monospace;
  padding-left: 0px;
}

div.pspwidget perspective-viewer #app perspective-row li#psp_row {
  margin-bottom: 0px;
  color: var(--dark-color);
  margin-right: 0px;
}

div.pspwidget perspective-viewer #app #side_panel {
  padding: 24px 0px 0px 0px;
  max-width: 250px;
}

div.pspwidget perspective-viewer #app #side_panel .is_visible {
  transition: opacity 0.4s;
}

div.pspwidget perspective-viewer #app #side_panel #divider {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  border-left-width: 12px;
  border-right-width: 0px;
  z-index: 1;
  margin: 0;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns {
  will-change: opacity, height, margin, transform;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 24px 24px 24px 0px;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row {
  position: relative;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row span.is_visible:before,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row span.is_visible:before {
  position: absolute;
  margin-top: 1px;
  margin-left: -8px;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row span.is_visible,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row span.is_visible {
  height: 26px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 48px;
  text-align: center;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .row_draggable,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .row_draggable {
  background: none;
  border-right: 0px;
  color: var(--dark-color);
  margin-left: 48px;
  padding: 4px 3px 4px 0px;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .row_draggable select,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .row_draggable select {
  margin: 6px 0px 0px 20px;
}

div.pspwidget perspective-viewer #app #side_panel #vis_selector_container {
  min-height: 36px;
  z-index: 1;
  margin-right: 12px;
  margin-left: 46px;
}
div.pspwidget perspective-viewer #app #side_panel #vis_selector_container select#vis_selector {
  margin: 0px 12px 24px 0px;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .is_visible:before {
  color: #1A7dA1;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row:last-child .row_draggable {
  border-bottom: 0px solid #ccc;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns {
  padding-top: 24px;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row {
  margin-top: 0px;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover .is_visible:before {
  color: #1A7dA1;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row.active {
  display: block;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .is_visible {
  opacity: 0.5;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .is_visible:before {
  font-family: "Material Icons";
  content: "\E835";
  font-size: 16px;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row #name {
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row #name:before {
  opacity: 0.5;
  background: none !important;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover.active #name {
  color: #eee;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover .is_visible {
  opacity: 1;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover #name {
  color: #666;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover #name:before {
  opacity: 1 !important;
}

div.pspwidget perspective-viewer #app #divider {
  height: 1px;
  min-height: 1px;
  max-height: 1px;
}

div.pspwidget perspective-viewer #app #top_panel {
  padding: 24px 0px 12px 0px;
}

div.pspwidget perspective-viewer #app #top_panel .rrow ul {
  padding: 3px 0px 0px 0px;
}

div.pspwidget perspective-viewer #app .rrow {
  margin: 0px 24px 12px 0px;
}

div.pspwidget perspective-viewer ::-webkit-scrollbar {
  width: 6px;
}

div.pspwidget perspective-viewer ::-webkit-scrollbar-track {
  background: none;
}

div.pspwidget perspective-viewer ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--dark-bg-color);
}

div.pspwidget perspective-viewer.dragging #top_panel .dropping {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

div.pspwidget perspective-viewer.dragging #side_panel #active_columns perspective-row[drop-target] .row_draggable {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

div.pspwidget perspective-viewer[view=heatmap] image.highcharts-boost-canvas {
  opacity: 0.8 !important;
}

div.pspwidget perspective-viewer[view=treemap] rect {
  stroke: #2F3136 !important;
}

div.pspwidget perspective-viewer[view=sunburst] path {
  stroke: #2F3136 !important;
}

div.pspwidget perspective-viewer[view=treemap] rect,
div.pspwidget perspective-viewer[view=heatmap] rect {
  stroke: #2F3136 !important;
}

div.pspwidget perspective-viewer image.highcharts-boost-canvas {
  opacity: 1 !important;
}

div.pspwidget perspective-viewer #app {
  background-color: var(--dark-bg-color);
  border-top-color: #242526 !important;
}

div.pspwidget perspective-viewer #app select:focus {
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app .highcharts-heatmap-gradient-full {
  background: linear-gradient(#feeb65 0%, #e4521b 22.5%, #4D342F 42.5%, #222222 50%, #1a237e 57.5%, #42b3d5 67.5%, #dcedc8 100%);
}

div.pspwidget perspective-viewer #app .highcharts-heatmap-gradient-positive {
  background: linear-gradient(#222222 0%, #1a237e 35%, #42b3d5 70%, #dcedc8 100%);
}

div.pspwidget perspective-viewer #app .highcharts-heatmap-gradient-negative {
  background: linear-gradient(#feeb65 0%, #e4521b 35%, #4D342F 70%, #222222 100%);
}

div.pspwidget perspective-viewer #app svg .highcharts-axis tspan {
  fill: #AAA !important;
}

div.pspwidget perspective-viewer #app svg .highcharts-button-box {
  fill: #242526;
}

div.pspwidget perspective-viewer #app svg g.highcharts-axis-labels text {
  fill: #FFF !important;
}

div.pspwidget perspective-viewer #app rect.highcharts-background {
  fill: none;
}

div.pspwidget perspective-viewer #app svg .highcharts-tooltip-box {
  fill: #242526;
}

div.pspwidget perspective-viewer #app svg .highcharts-legend-box {
  fill: none !important;
}

div.pspwidget perspective-viewer #app .highcharts-yaxis-grid path.highcharts-grid-line {
  stroke: #3B3F46;
}

div.pspwidget perspective-viewer #app #pivot_chart {
  background-color: var(--dark-bg-color);
}

div.pspwidget perspective-viewer #app #pivot_chart tspan,
div.pspwidget perspective-viewer #app #pivot_chart text {
  fill: #FFF !important;
}

div.pspwidget perspective-viewer #app #pivot_chart rect,
div.pspwidget perspective-viewer #app #pivot_chart image {
  opacity: 0.85;
}

div.pspwidget perspective-viewer #app #drop_target {
  background-color: var(--dark-bg-color);
}

div.pspwidget perspective-viewer #app input,
div.pspwidget perspective-viewer #app select,
div.pspwidget perspective-viewer #app ul,
div.pspwidget perspective-viewer #app #filters {
  border-right: 0px;
  background-color: var(--dark-bg-color);
  color: #fff;
  border-color: #666;
}

div.pspwidget perspective-viewer #app input::placeholder {
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app label {
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app #filters {
  border-bottom: 1px solid #666;
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app perspective-row #psp_row {
  color: #fff;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .float:before,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .float:before,
div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .integer:before,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .integer:before {
  color: #22A0CE;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .row_draggable,
div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row .row_draggable {
  border-color: #666;
  color: #fff;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row .is_visible:before {
  color: #22A0CE;
}

div.pspwidget perspective-viewer #app #side_panel #active_columns perspective-row:last-child .row_draggable {
  border-bottom: 0px solid #2A2C2F;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns {
  padding-top: 24px;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row {
  margin-top: 0px;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover .is_visible:before {
  color: #22A0CE;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row.active {
  display: block;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row #name {
  color: var(--dark-color);
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover.active #name {
  color: #eee;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover .is_visible {
  opacity: 1;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover #name {
  color: #fff;
}

div.pspwidget perspective-viewer #app #side_panel #inactive_columns perspective-row:hover #name:before {
  opacity: 1 !important;
}

div.pspwidget perspective-viewer #app #divider {
  height: 1px;
  min-height: 1px;
  max-height: 1px;
}

div.pspwidget perspective-viewer #app #top_panel {
  padding: 24px 0px 12px 0px;
}

div.pspwidget perspective-viewer #app #top_panel .rrow ul {
  padding: 3px 0px 0px 0px;
}

div.pspwidget perspective-viewer #app .rrow {
  margin: 0px 24px 12px 0px;
}
