<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello</title>
</head>
    <!--body class="pull_top" style="">
        <div id="body">
            <div id="container">
                <div id="jw">
                    <a href="http://www.jackwills.com/en-us/home">
                    <img src="/static/img/jw.png"  class="png" / >
                    </a>
                </div>
                <div class="anchor">&nbsp;</div>
            </div>
    <footer id="footer">
            <div class="row credits">
                    <div class="row social">
                        <div class="span12">
                            <a href="http://www.facebook.com/jackwillsusa" class="facebook"><span class="socialicons ico1"></span><span class="socialicons_h ico1h"></span></a>
                            <a href="http://www.twitter.com/JackWillsUSA" class="twitter"><span class="socialicons ico2"></span><span class="socialicons_h ico2h"></span></a>
                            <a href="http://www.instagram.com/jackwillsuk" class="gplus"><span class="socialicons ico4"></span><span class="socialicons_h ico4h"></span></a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2013 TP. All rights reserved.
                        </div>
                    </div>
            </div>
    </footer>

    </div>
    
    
    <!-- Scripts -->

    <script type="text/javascript" src="/static/js/index-slider.js"></script>	
    <script type="text/javascript" src="/static/js/jquery.js"></script>	
    <script type="text/javascript" src="/static/js/jwny.js"></script>	
</body-->
Hello, World    
</html>
